.search-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.search-page-container .search-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-page-container .search-page-container  mat-form-field {
  width: 30%;
}

.search-page-container .result-list-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
}

.result-list-container .option {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.refresh-button {
  display: block;
  top: 5px;
  left: 5px;
  position: absolute;
}
