<div class="search-page-container">
  <div class="search-page-container" *ngIf="requestedData.length === 0">
    <mat-form-field appearance="fill">
      <mat-label>Поля по которым сортировать</mat-label>
      <mat-select [(value)]="fieldSortedBy">
        <mat-option *ngFor="let option of displayedColumns" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Сортировка</mat-label>
      <mat-select [(value)]="sortBy">
        <mat-option *ngFor="let option of sortOptions" [value]="option.value">
          {{ option.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-flat-button
      color="accent"
      (click)="searchButtonHandler()"
      [disabled]="!fieldSortedBy || !sortBy"
    >
      Загрузить
    </button>
  </div>
  <div class="result-list-container" *ngIf="requestedData.length !== 0">
    <mat-list role="list" *ngFor="let option of requestedData">
      <mat-list-item role="listitem"><div class="option">{{ option }}</div></mat-list-item>
    </mat-list>
  </div>
  <button
    class="refresh-button"
    mat-mini-fab
    *ngIf="requestedData.length !== 0"
    (click)="refreshButtonHandler()"
  >
    <mat-icon>refresh</mat-icon>
  </button>
</div>
