<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <nav>
      <button
        class="nav-button"
        mat-button
        [disabled]="isRouteSelected('/users')"
        routerLink="/users"
      >
        Users
      </button>
      <button
        class="nav-button"
        mat-button
        [disabled]="isRouteSelected('/users3')"
        routerLink="/users3"
      >
        Users3
      </button>
      <button
        class="nav-button"
        mat-button
        [disabled]="isRouteSelected('/users2')"
        routerLink="/users2"
      >
        Users2
      </button>
    </nav>
  </mat-drawer>
  <mat-drawer-content><router-outlet></router-outlet></mat-drawer-content>
</mat-drawer-container>
