<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <nav>
      <button
        class="nav-button"
        mat-button
        [disabled]="isRouteSelected('/users')"
        routerLink="/users"
      >
        Пользователи
      </button>
      <button
        class="nav-button"
        mat-button
        [disabled]="isRouteSelected('/realty')"
        routerLink="/realty"
      >
        Недвижимость
      </button>
    </nav>
  </mat-drawer>
  <mat-drawer-content><router-outlet></router-outlet></mat-drawer-content>
</mat-drawer-container>
<app-loader></app-loader>
